<!DOCTYPE html>
<html>
<head>
  <title>ANCOR on Rails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <hr>

  <p>
  Request served from <strong><%= Rails.application.config.hostname %></strong>
  </p>

</body>
</html>
