<!DOCTYPE html>
<html>
<head>
  <title>ANCOR on Rails</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <hr>

  <ul>
    <li><%= link_to "Migrate the database", "/migrate" %></li>
    <li><%= link_to "Perform a read on the database", "/read" %></li>
    <li><%= link_to "Perform a write on the database", "/write" %></li>
    <li><%= link_to "Submit a background job using Sidekiq", "/work" %></li>
    <li><%= link_to "View the Sidekiq dashboard", "/sidekiq" %></li>
  </ul>

  <hr>

  <p>
    Request served from <strong><%= Rails.application.config.hostname %></strong>
  </p>

</body>
</html>
